@model Intranet.web.Data.Entities.Fidelizacion.Bono

@{
    ViewData["Title"] = "Detalles de Bono";
}

<h2>Details</h2>
<hr />
<div class="row">

    <div class="col-md-6">
        <div class="card card-dark">
            <div class="card-header">
                Detalles del Bono
                <div class="card-tools">
                    <label>@Html.DisplayNameFor(model => model.Redimido)</label> @Html.DisplayFor(model => model.Redimido)
                </div>


            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Codigo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Fechacreado)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Fechacreado)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Usuariocrea)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Usuariocrea)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FechaRedimido)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FechaRedimido)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UsuarioRedime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UsuarioRedime)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
                <a asp-action="Index" class="btn btn-default">Volver</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-dark card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Lista<span class="badge"> @Html.DisplayFor(modelItem => Model.Redimidos.Count)</span></a>
                    </li>

                </ul>
            </div>
            <div class="card-body">
                <div class="tab-pane fade active show" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                    @if (Model.Redimidos.Count == 0)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a asp-action="AddRedime" class="btn btn-primary" asp-route-id="@Model.Id">Redimir</a>
                                        @*<button data-id="@Model.Id" class="btn btn-success Redime" data-toggle="modal" data-target="#RedimeDialog"><i class="glyphicon glyphicon-ok"></i></button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a asp-action="AddRedime" class="btn btn-primary" asp-route-id="@Model.Id">Redimir</a>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#RedimeDialog">
                                            Launch Default Modal
                                        </button>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive ">
                                            <table class="table table-hover table-striped display">
                                                <thead>
                                                    <tr>
                                                        @*<th>
                                                            @Html.DisplayNameFor(model => model.Redimidos.FirstOrDefault().Tercero)
                                                        </th>*@
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Redimidos.FirstOrDefault().UserRegistra)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Redimidos.FirstOrDefault().FechaRegistro)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Redimidos.FirstOrDefault().Tercero)
                                                        </th>
                                                        @*<th>
                                                            Acciones
                                                        </th>*@
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Redimidos)
                                                    {
                                                        <tr>
                                                            @*<td>
                                                                @Html.DisplayFor(modelItem => item.Tercero)
                                                            </td>*@
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.UserRegistra)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FechaRegistro)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Tercero)
                                                            </td>
                                                            @*<td>*@
                                                            @*<a asp-action="EditSon" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>

                                                            <button data-id="@item.Id" class="btn btn-danger deleteSon" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>*@
                                                            @*</td>*@
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
           
        </div>
    </div>
    
   



</div>




<partial name="_Redimir" />









@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            var action_to_delete;
            $('#MyTable').DataTable();
            $('.Redime').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 1;
            });

            $("#btnYesRedime").click(function () {
                window.location.href = '/Bonoes/Redime/' + item_to_delete;
            });
        });
    </script>
}
