@model IEnumerable<Intranet.web.Data.Entities.Fidelizacion.Bono>

@{
    ViewData["Title"] = "Crear Bono";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<hr />


<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-heading">
                <h2>Bonos Supermio</h2>
                <a asp-action="Create" class="btn btn-primary">Crear Bono</a>
            </div>

            <div class="card-body">
                <div class="table-responsive ">
                    <table class="table table-hover table-striped display" id="MyTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Codigo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Redimido)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Actividad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Valor)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Fechacreado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Usuariocrea)
                                </th>
                                <th>
                                    veces Redimido
                                </th>

                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Redimido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Actividad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Valor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fechacreado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usuariocrea)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Redimidos.Count)
                                    </td>
                                    <td>
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
                                        {
                                            <a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                                        }


                                        @if (item.Redimido == true)
                                        {
                                            <label class="label-warning">Bono Redimido</label>

                                        }
                                        else
                                        {
                                            <a asp-action="Details" class="btn btn-info btn-sm" asp-route-id="@item.Id"><i class="fa fa-bars fa-fw" aria-hidden="true"></i></a>

                                        }


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_Redimir" />









@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            var action_to_delete;
            $('#MyTable').DataTable();
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 1;
            });

            $("#btnYesRedime").click(function () {
                window.location.href = '/Bonoes/Redime/' + item_to_delete;
            });
        });
    </script>
}
