@model Intranet.web.Data.Entities.SiteHeadquarters

@{
    ViewData["Title"] = "Details";
}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Details</h2>
                        <h4>SiteHeadquarters</h4>
                    </div>
                    <div class="col-md-6">

                        <h2> @Html.DisplayNameFor(model => model.Nombre)</h2>


                        <h4>
                            @Html.DisplayFor(model => model.Nombre)
                        </h4>

                    </div>
                </div>


            </div>
            <div class="panel-body">
                @if (Model.Areas.Count == 0)
                {
                    <h5> No Areas added.</h5>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-hover table-striped" id="MyTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Areas.FirstOrDefault().Nombre)
                                    </th>

                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Areas)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>

                                        <td>
                                            <a asp-action="EditArea" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>

                                            <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                }
            </div>
            <div class="panel-footer">
                <div>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-pencil"></i> Edit</a> |
                    <a asp-action="AddArea" class="btn btn-primary" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-plus"></i> Add Area</a> |
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>



</div>
<partial name="_DeleteDialogModal"/>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            var action_to_delete;
            $('#MyTable').DataTable();
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 1;
            });


            $("#btnYesDelete").click(function () {
                if (action_to_delete == 1) {
                    window.location.href = '/SiteHeadquarters/DeleteArea/' + item_to_delete;
                }
            });
        });
    </script>
}





