@model IEnumerable<Intranet.web.Data.Entities.Activos.Item>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<h2>Items</h2>

<p>

</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Create New Item</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive ">
                    <table class="table table-hover table-striped" id="MyTable">

                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Serial)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Datepurchase)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnitValue)
                                </th>
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.Dateitemcreate)
                                </th>
                                
                               
                                <th>
                                    @Html.DisplayNameFor(model => model.Activo)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Usucreate)
                                </th>
                              
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Serial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Datepurchase)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnitValue)
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dateitemcreate)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Activo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usucreate)
                                    </td>
                                   
                                    <td>
                                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id"><i class="glyphicon glyphicon-list"></i></a>
                                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_DeleteDialogModal" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            $('#MyTable').DataTable();
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Items1/Delete/' + item_to_delete;
            });
        });
    </script>
}
