@model Intranet.web.Data.Entities.Employee

@{
    ViewData["Title"] = "Detalles Empleado";
}


<section class="content-header">
  
</section>
<section class="content">
    <div class="container-fluid">
    
            <div class="row">
                <div class="col-md-3">

                    <div class="card card-dark card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">

                                @if (Model.UserImages.Count == 0)
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-default">
                                                <div class="card-header">
                                                    <a asp-action="AddImage" class="btn btn-primary" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-plus"></i> Add Fhoto</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                  
                                                            @foreach (var item in Model.UserImages)
                                                            {
                                                                
                                                                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                                                                        {
                                                                           
                                                                                <img class="profile-user-img img-fluid" src="@Url.Content(item.ImageUrl)" alt="Image" style="width:300px;height:500px;" />
                                                                            
                                                                        }

                                                  
                                                                <button data-id="@item.Id" class="btn btn-danger deleteImage" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                            }
                                                   
                                          
                                    

                                }

                            </div>
                           
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Cumpleaños</b> <a class="float-right">@Html.DisplayFor(model => model.DateCumple)</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Movil</b> <a class="float-right">@Html.DisplayFor(model => model.Movil)</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Rh</b> <a class="float-right">  @Html.DisplayFor(model => model.Rh)</a>
                                </li>
                            </ul>
                        </div>

                    </div>



                </div>

                <div class="col-md-9">
                    <div class="col-12">
                        <div class="card card-dark bg-light d-flex flex-fill">
                            <div class="card-header  border-bottom-0">
                                <h2 class="lead"><b> @Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)</b></h2>
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li ><span class="fa-li"><i class="fa fa-drivers-license"></i></span> Documento:  @Html.DisplayFor(model => model.Document)</li>
                                            <li><span class="fa-li"><i class="fa fa-address-card"></i></span> Direccion:  @Html.DisplayFor(model => model.Address)</li>
                                            <li><span class="fa-li"><i class="fa fa-mail-forward"></i></span> Email:   @Html.DisplayFor(model => model.Email)</li>
                                            <li><span class="fa-li"><i class="fa fa-industry"></i></span>  @Html.DisplayNameFor(model => model.Area.Nombre)  @Html.DisplayFor(model => model.Area.Nombre)</li>
                                            <li><span class="fa-li"><i class="fa fa-product-hunt"></i></span> Cargo:    @Html.DisplayFor(model => model.JobTitle)</li>
                                            <li><span class="fa-li"><i class="fa fa-building"></i></span> Nivel Educativo:  @Html.DisplayFor(model => model.NivelEducation)</li>
                                            
                                        </ul>
                                    </div>
                                    <div class="col-5">
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li><span class="fa-li"><i class="fa fa-building-o"></i></span> Eps:  @Html.DisplayFor(model => model.Eps.Nombre)</li>
                                            <li><span class="fa-li"><i class=" fa fa-mail-forward"></i></span> Empleado Activo :     @Html.DisplayFor(model => model.Activo)</li>
                                            <li><span class="fa-li"><i class=" fa fa-mail-forward"></i></span> Arl :   @Html.DisplayFor(model => model.Arl)</li>
                                            <li><span class="fa-li"><i class=" fa fa-mail-forward"></i></span> Carnet :    @Html.DisplayFor(model => model.License)</li>
                                            <li><span class="fa-li"><i class=" fa fa-mail-forward"></i></span> Fecha Retiro:  @Html.DisplayFor(model => model.DateRetiro)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="text-left">
                                            <div class="row">
                                                <ul class="small">
                                                    <li ><label asp-for="UserRegistra"></label> <input style="border: none;" asp-for="UserRegistra" disabled /></li>
                                                    <li><label asp-for="DateRegistro"></label> <input style="border: none;" asp-for="DateRegistro" disabled /></li>
                                                </ul>
                                              
                                                    <ul class="small">
                                                        <li ><label asp-for="UserModify"></label>   <input class="small" style="border: none;" asp-for="UserModify" disabled /></li>
                                                        <li ><label asp-for="DateModify"></label> <input class="small" style="border: none;" asp-for="DateModify" disabled /></li>
                                                    </ul>


                                            </div>
                                            
                                          
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="text-right">
                                            <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id"><i class="fa fa-pencil"></i> </a>

                                            <a asp-action="Index" class="btn btn-success">Volver atras</a>
                                        </div>
                                    </div>
                                </div>
                               
                                  

                                    
                              
                               
                            </div>
                        </div>
                    </div>
                  
                    <div class="card card-dark  card-tabs">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Dotaciones <span class="badge"> @Html.DisplayFor(modelItem => Model.Endowments.Count)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Novedades <span class="badge"> @Html.DisplayFor(modelItem => Model.Incapacities.Count)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Hijos <span class="badge"> @Html.DisplayFor(modelItem => Model.Sons.Count)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">Creditos <span class="badge"> @Html.DisplayFor(modelItem => Model.Credits.Count)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-contatos-tab" data-toggle="pill" href="#custom-tabs-one-contatos" role="tab" aria-controls="custom-tabs-one-contatos" aria-selected="false">Contacto <span class="badge"> @Html.DisplayFor(modelItem => Model.PersonContacts.Count)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-Exam-tab" data-toggle="pill" href="#custom-tabs-one-Exam" role="tab" aria-controls="custom-tabs-one-Exam" aria-selected="false">Examenes <span class="badge"> @Html.DisplayFor(modelItem => Model.Exams.Count)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-Carg-tab" data-toggle="pill" href="#custom-tabs-one-Carg" role="tab" aria-controls="custom-tabs-one-Carg" aria-selected="false">Cargos <span class="badge"> @Html.DisplayFor(modelItem => Model.CargosAsgs.Count)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-Exam-tab" data-toggle="pill" href="#custom-tabs-one-Cont" role="tab" aria-controls="custom-tabs-one-Cont" aria-selected="false">Contratos <span class="badge"> @Html.DisplayFor(modelItem => Model.Contracts.Count)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-Histo-tab" data-toggle="pill" href="#custom-tabs-one-Histo" role="tab" aria-controls="custom-tabs-one-Histo" aria-selected="false">Historial <span class="badge"> @Html.DisplayFor(modelItem => Model.HistorialEmpleados.Count)</span></a>
                                </li>

                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                <div class="tab-pane fade active show" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                    <div class="card">

                                        <div class="card-body">
                                            @if (Model.Endowments.Count == 0)
                                            {

                                                <a asp-action="AddEndowment" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Dotacion</a>

                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped display">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Endowments.FirstOrDefault().EndowmentType.NameType)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Endowments.FirstOrDefault().Detail)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Endowments.FirstOrDefault().Count)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Endowments.FirstOrDefault().Size)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Endowments.FirstOrDefault().DateDeliveryLocal)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Endowments.FirstOrDefault().DateVence)
                                                                        </th>

                                                                        <th>

                                                                            <a asp-action="AddEndowment" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Dotacion</a>

                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.Endowments)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.EndowmentType.NameType)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Detail)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Count)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Size)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.DateDeliveryLocal)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.DateVence)
                                                                            </td>

                                                                            <td>
                                                                                <a asp-action="EditEndowment" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>

                                                                                <button data-id="@item.Id" class="btn btn-danger deleteEndowment" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                    <div class="card">

                                        <div class="card-body">
                                            @if (Model.Incapacities.Count == 0)
                                            {

                                                <a asp-action="AddIncapacity" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Novedad</a>

                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-12">


                                                        <div class="table table-responsive-lg">
                                                            <table class="table table-striped display">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Incapacities.FirstOrDefault().TypeNew.Nombre)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Incapacities.FirstOrDefault().Novedad)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Incapacities.FirstOrDefault().StartDate)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Incapacities.FirstOrDefault().CantDay)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Incapacities.FirstOrDefault().EndDate)
                                                                        </th>


                                                                        <th>

                                                                            <a asp-action="AddIncapacity" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Novedad</a>

                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.Incapacities)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.TypeNew.Nombre)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Novedad)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.StartDate)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.CantDay)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.EndDate)
                                                                            </td>

                                                                            <td>
                                                                                <a asp-action="EditIncap" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>

                                                                                <button data-id="@item.Id" class="btn btn-danger deleteIncap" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>


                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                    <div class="card">

                                        <div class="card-body">
                                            @if (Model.Sons.Count == 0)
                                            {

                                                <a asp-action="AddSons" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar hijos</a>

                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive ">
                                                            <table class="table table-striped display">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Sons.FirstOrDefault().Name)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Sons.FirstOrDefault().Datebirth)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Sons.FirstOrDefault().Genero)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Sons.FirstOrDefault().UserRegistra)
                                                                        </th>
                                                                        <th>
                                                                            <a asp-action="AddSons" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Hijos</a>

                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.Sons)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Name)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Datebirth)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Genero)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.UserRegistra)
                                                                            </td>
                                                                            <td>
                                                                                <a asp-action="EditSon" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>

                                                                                <button data-id="@item.Id" class="btn btn-danger deleteSon" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>



                                                    </div>
                                                </div>

                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
                                    <div class="card">

                                        <div class="card-body">
                                            @if (Model.Credits.Count == 0)
                                            {
                                                <a asp-action="AddCredit" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Creditos</a>

                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-12">



                                                        <div class="table-responsive ">
                                                            <table class="table table-striped display">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Credits.FirstOrDefault().CreditEntities.Name)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Credits.FirstOrDefault().NumberL)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Credits.FirstOrDefault().Quotmonthly)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Credits.FirstOrDefault().TotalPrice)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Credits.FirstOrDefault().DeadlinePay)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Credits.FirstOrDefault().StartDateLocal)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Credits.FirstOrDefault().EndDateLocal)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Credits.FirstOrDefault().IsActive)
                                                                        </th>

                                                                        <th>
                                                                            <a asp-action="AddCredit" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Creditos</a>

                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.Credits)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.CreditEntities.Name)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.NumberL)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Quotmonthly)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.TotalPrice)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.DeadlinePay)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.StartDateLocal)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.EndDateLocal)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.IsActive)
                                                                            </td>

                                                                            <td>
                                                                                <a asp-action="EditCredit" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>

                                                                                <button data-id="@item.Id" class="btn btn-danger deleteCredit" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>


                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-contatos" role="tabpanel" aria-labelledby="custom-tabs-one-contatos-tab">
                                    <div class="card">
                                        <div class="card-body">
                                            @if (Model.PersonContacts.Count == 0)
                                            {

                                                <a asp-action="AddPerson" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Contactos</a>

                                            }
                                            else
                                            {

                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <div class="table-responsive">
                                                            <table class="table table-striped display">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.PersonContacts.FirstOrDefault().Name)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.PersonContacts.FirstOrDefault().Telephone)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.PersonContacts.FirstOrDefault().relationship)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.PersonContacts.FirstOrDefault().UserRegistra)
                                                                        </th>

                                                                        <th>
                                                                            <a asp-action="AddPerson" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Contactos</a>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.PersonContacts)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Name)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Telephone)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.relationship)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.UserRegistra)
                                                                            </td>
                                                                            <td>
                                                                                <a asp-action="EditPersonContact" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>

                                                                                <button data-id="@item.Id" class="btn btn-danger deletePerson" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>


                                                    </div>
                                                </div>
                                            }
                                        </div>



                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-Exam" role="tabpanel" aria-labelledby="custom-tabs-one-Exam-tab">
                                    <div class="card">

                                        <div class="card-body">
                                            @if (Model.Exams.Count == 0)
                                            {


                                                <a asp-action="AddExam" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Examenes</a>

                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-12">


                                                        <div class="table-responsive">
                                                            <table class="table table-striped" id="MyTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Exams.FirstOrDefault().ExamsType.Name)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Exams.FirstOrDefault().StartDateLocal)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Exams.FirstOrDefault().EndDateLocal)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Exams.FirstOrDefault().UserRegistra)
                                                                        </th>

                                                                        <th>
                                                                            <a asp-action="AddExam" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Examenes</a>

                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.Exams)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.ExamsType.Name)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.StartDateLocal)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.EndDateLocal)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.UserRegistra)
                                                                            </td>
                                                                            <td>
                                                                                <a asp-action="EditExam" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>

                                                                                <button data-id="@item.Id" class="btn btn-danger deleteExam" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>


                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-Carg" role="tabpanel" aria-labelledby="custom-tabs-one-Carg-tab">
                                    <div class="card">

                                        <div class="card-body">
                                            @if (Model.CargosAsgs.Count == 0)
                                            {


                                                <a asp-action="AddCargos" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Cargo</a>

                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-12">


                                                        <div class="table-responsive">
                                                            <table class="table table-striped display">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.CargosAsgs.FirstOrDefault().PositionEmployee.Position)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.CargosAsgs.FirstOrDefault().DateAsg)
                                                                        </th>

                                                                        <th>
                                                                            <a asp-action="AddCargos" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Cargo</a>

                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.CargosAsgs)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.PositionEmployee.Position)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.DateAsg)
                                                                            </td>

                                                                            <td>


                                                                                <button data-id="@item.Id" class="btn btn-danger DeleteCargo" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-Cont" role="tabpanel" aria-labelledby="custom-tabs-one-Cont-tab">
                                    <div class="card card-default">

                                        <div class="card-body">
                                            @if (Model.Contracts.Count == 0)
                                            {

                                                <a asp-action="AddContrato" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Contratos</a>

                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-12">



                                                        <div class="table-responsive">
                                                            <table class="table table-striped display">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Contracts.FirstOrDefault().Note)
                                                                        </th>
                                                                        <th>
                                                                            @Html.DisplayNameFor(model => model.Contracts.FirstOrDefault().DateStart)
                                                                        </th>

                                                                        <th>
                                                                            <a asp-action="AddContrato" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Contratos</a>

                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.Contracts)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.Note)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => item.DateStart)
                                                                            </td>

                                                                            <td>
                                                                                <a asp-action="EditContrato" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>

                                                                                <button data-id="@item.Id" class="btn btn-danger DeleteContrato" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>


                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="custom-tabs-one-Histo" role="tabpanel" aria-labelledby="custom-tabs-one-Histo-tab">
                                    <div class="card card-default">
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Manager") || User.IsInRole("Recursoshumanos"))
                                        {
                                            <div class="card-body">
                                                @if (Model.HistorialEmpleados.Count == 0)
                                                {

                                                    <a asp-action="AddHistorial" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Novedad</a>

                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12">



                                                            <div class="table-responsive">
                                                                <table class="table table-striped display">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                @Html.DisplayNameFor(model => model.HistorialEmpleados.FirstOrDefault().Notas)
                                                                            </th>
                                                                            <th>
                                                                                @Html.DisplayNameFor(model => model.HistorialEmpleados.FirstOrDefault().Fecha)
                                                                            </th>

                                                                            <th>
                                                                                <a asp-action="AddHistorial" class="btn btn-primary" asp-route-id="@Model.Id">Adicionar Nuevo</a>

                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var item in Model.HistorialEmpleados)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.Notas)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.Fecha)
                                                                                </td>

                                                                                <td>
                                                                                    <a asp-action="EditHistorial" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>

                                                                                    <button data-id="@item.Id" class="btn btn-danger DeleteContrato" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>


                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

           
      
    </div>
</section>



<partial name="_DeleteDialogModal" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
       
            var hoy = new Date(new Date().setHours(0, 0, 0, 0));

            var table = $('#MyTable').DataTable(
               
                {
                "createdRow": function (row, data, index) {
                    var datotabla = new Date(data[2]);
                    var resta = datotabla - hoy;
                    console.log(resta);
                    console.log(hoy);
                    console.log(datotabla);
                    if (resta <= 1) {

                        $('td', row).eq(2).css({
                            'background-color': '#d9534f',
                            'color': 'white',
                        });
                    } if (resta <= 5356800000 & resta >= 1) {

                        $('td', row).eq(2).css({
                            'background-color': '#F5BA44',
                            'color': 'white',
                        });
                    }
                }
                }
                 ,{
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                    },
                    "aLengthMenu": [
                        [25, 50, 100, 200, -1],
                        [25, 50, 100, 200, "Todos"]
                    ]
                },

            );

            var item_to_delete;
            var action_to_delete;
            $('.display').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            }
);

            $('.deleteEndowment').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 1;
            });

            $('.deleteExam').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 2;
            });
            $('.deletePerson').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 3;
            });
            $('.deleteCredit').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 4;
            });
            $('.deleteSon').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 5;
            });
            $('.deleteImage').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 6;
            });
            $('.deleteIncap').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 7;
            });
            $('.DeleteCargo').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 8;
            });
            $('.DeleteContrato').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 9;
            });

            $("#btnYesDelete").click(function () {
                if (action_to_delete == 1) {
                    window.location.href = '/Employees/DeleteEndowment/' + item_to_delete;
                } if (action_to_delete == 2) {
                    window.location.href = '/Employees/DeleteExam/' + item_to_delete;
                } if (action_to_delete == 3) {
                    window.location.href = '/Employees/DeletePersonContac/' + item_to_delete;
                } if (action_to_delete == 4) {
                    window.location.href = '/Employees/DeleteCredit/' + item_to_delete;
                } if (action_to_delete == 5) {
                    window.location.href = '/Employees/DeleteSon/' + item_to_delete;
                } if (action_to_delete == 6) {
                    window.location.href = '/Employees/DeleteImage/' + item_to_delete;
                } if (action_to_delete == 7) {
                    window.location.href = '/Employees/EditIncapacity/' + item_to_delete;
                }if (action_to_delete == 8) {
                    window.location.href = '/Employees/DeleteCargo/' + item_to_delete;
                }if (action_to_delete == 9) {
                    window.location.href = '/Employees/DeleteContrato/' + item_to_delete;
                }

            });
        });
    </script>
}


