
@model List<Intranet.web.Data.Entities.Employee>
@{
    ViewData["Title"] = "Listado de Empleados";
}
    
    
    <br />
    <flash dismissable="true" />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Listado Empleados</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Empleados</li>
                    <li class="breadcrumb-item active">Listado</li>

                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                           <form asp-controller="Employees" class="form-inline" asp-action="Index" method="get">
                             <div class="form-row align-items-center">
                                            <div class="form-group ">
                                                <div class="input-group">
                                                    
                                                      <div class="input-group-prepend">
                                                        <div class="input-group-text"> 
                                                            <label for="exampleRadios1">Nombre :</label>
                                                         <input class="form-check-input" type="checkbox"  onChange="comprobar(this);" name="nameOption" id="exampleRadios1" value="option1" >
                                                         </div>
                                                  
                                                </div>
                                                 <input type="text" name="nombre" id="name" class="form-control"   placeholder="Jane Doe" />
                                                </div>
                                           
                                             
                                              
                                            </div>
                                            <div class="form-group ">
                                          
                                              <div class="input-group">
                                                <div class="input-group-prepend">
                                                  <div class="input-group-text"> 
                                                       <label for="exampleRadios1">Area :</label>
                                                      <input class="form-check-input" type="checkbox" onchange="comprobarArea(this);" name="exampleRadios2" id="exampleRadios2" value="option2" >
                                                      </div>
                                                </div>
                                                 <input type="text" name="area" id="area" class="form-control" placeholder="Area"/>
                                              </div>
                                            </div>
                                         
                                            <div class="col-auto my-1">
                                              <button type="submit" value="Buscar"  class="btn btn-primary">Buscar</button>
                                               <a asp-action="Create" class="btn btn-dark"><i class="fa fa-plus"></i> Nuevo </a>
                                            </div>
                                          </div>
                                                
                                            </form>
                      
                    </div>
                    <div class="card-body">
                                
                   
                            
                        <div class="table-responsive">
                            <table class="table table-hover table-striped MyTable" >
                                <thead>
                                    <tr>
                                        <th>
                                           Foto
                                        </th>
                                       
                                        <th>
                                           
                                             
                                        </th>

                                      <th>
                                           area
                                            
                                        </th>
                                          <th>
                                         Sede
                                        </th>
                                      
                                        <th>
                                            Acciones
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                  <img  src="@Url.Content(item.ImageFullPath)" alt="Image" style="width:200px;" />
                                            </td>
                                              
                                             <td>
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Area.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Area.SiteHeadquarters.Nombre)
                                            </td>
                                          
                                            <td>
                                                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a>
                                                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id"><i class="fa fa-bars"></i></a>
                                                @*<button data-id="@item.Id" class="btn btn-sm btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>*@
                                                <button data-id="@item.Id" class="btn btn-sm btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_DeleteDialogModal" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    

    <script type="text/javascript">
comprobar(document.getElementById('exampleRadios1'));
comprobarArea(document.getElementById('exampleRadios2'));

        function comprobar(obj)
            {   
                if (obj.checked){
      
            document.getElementById('name').style.display = "";
               } else{
      
            document.getElementById('name').style.display = "none";
               }     
            }
            function comprobarArea(obj)
            {   
                if (obj.checked){
      
            document.getElementById('area').style.display = "";
               } else{
      
            document.getElementById('area').style.display = "none";
               }     
            }
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
           
            GridGeneral();
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                      $('#deleteDialog').modal('show'); 
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Employees/Delete/' + item_to_delete;
            });
        });
        var GridGeneral = function () {
            $(".MyTable").prepend($("<thead></thead>").append($(".MyTable").find("tr:first"))).dataTable({
                "language": lenguaje_espanol,
                "dom": "Bfrtip",
                "buttons": botoneraExport,
                responsive: true
            });
        }
        var lenguaje_espanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados ",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
        var botoneraExport =
            [
                {
                    extend: 'copy',
                    className: 'copyButton',
                    text: '<i class="fa fa-clone"></i> Copiar'
                },
                {
                    extend: 'excel',
                    text: '<i class="fa fa-file-excel-o"></i> Excel'
                },

                {
                    extend: 'csv',
                    text: '<i class="fa fa-file-excel-o"></i> CSV'
                },
                {
                    extend: 'pdf',
                    text: '<i class="fa fa-file-pdf-o"></i> PDF'
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Imprimir',
                    customize: function (win) {
                        $(win.document.body)
                            .css('font-size', '10pt')
                            .prepend(
                                '<img src="../dist/img/ws.png" style="position:absolute; top:0; left:1;" />'

                            );

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }

            ]
    </script>
}
