
@model IEnumerable<Intranet.web.Data.Entities.Exams>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<br />

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Create New Requisito</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive ">
                    <table class="table table-hover table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Employee.FullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ExamsType.Name)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Employee.Movil)
                                </th>
                             
                                <th>
                                    @Html.DisplayNameFor(model => model.Employee.Activo)
                                </th>
                                <th>
                                    Acciones
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExamsType.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.Movil)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.Activo)
                                    </td>
                                   
                                    <td>
                                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id"><i class="glyphicon glyphicon-list"></i></a> |
                                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<partial name="_DeleteDialogModal" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            $('#MyTable').DataTable();
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Employees/Delete/' + item_to_delete;
            });
        });
    </script>
}
