@model IEnumerable<Intranet.web.Data.Entities.Activos.Model>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datecreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datemod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usucreo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usermod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datecreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datemod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usucreo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usermod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
