@model IEnumerable<Intranet.web.Data.Entities.Compras.Negociation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Providercompras.NameProvider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasification.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes.Name)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Verificar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuCreate)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Providercompras.NameProvider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasification.Name)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Mes.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Verificar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuCreate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-list"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
