@model IEnumerable<Intranet.web.Data.Entities.Compras.Negociation>

@{
    ViewData["Title"] = "Index";
}


<section class="content-header">

</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                      
                            <a asp-action="Create" class="btn btn-dark">Nueva Negociacion</a>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive ">
                            <table class="table table-hover table-striped MyTable" >
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DateIn)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Providercompras.NameProvider)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Clasification.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Mes.Name)
                                        </th>


                                        <th>
                                            @Html.DisplayNameFor(model => model.Verificar)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Pago)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SalaVenta.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Document)
                                        </th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateIn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Providercompras.NameProvider)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Clasification.Name)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Mes.Name)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Verificar)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Pago)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SalaVenta.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Document)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-list"></i></a>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            $('#MyTable').DataTable();
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
           
            $("#btnYesDelete").click(function () {
                window.location.href = '/Employees/Delete/' + item_to_delete;
            });
        });
         
    </script>
}